[submodule "AndEngine"]
	path = AndEngine
	url = git://github.com/nicolasgramlich/AndEngine.git
[submodule "AndEngineLiveWallpaperExtension"]
	path = AndEngineLiveWallpaperExtension
	url = git://github.com/nicolasgramlich/AndEngineLiveWallpaperExtension.git
[submodule "android-ColorPickerPreference"]
	path = android-ColorPickerPreference
	url = git://github.com/jayschwa/android-ColorPickerPreference.git
